.breadcrumbs {
  padding-left: 10%;
  display: flex;
  align-items: center;

  &__separator {
    margin: 0 5px;
  }

  &__category-wrapper {
    display: flex;
    align-items: center;
  }

  &__category {
    &_link {
      cursor: pointer;
    }
  }
}
