.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    & > .arrow {
      content: '';
      margin-left: 3px;
      width: 20px;
      height: 20px;
      background-color: red;
    }

    &::after {
      content: '';
      margin-left: 3px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('../../../../../../assets/icons/arrow-down.svg');
    }

    &.active {
      opacity: 0.5;

      &::after {
        transform: scale(1, -1);
      }
    }
  }

  &__list {
    & > li > a {
      display: flex;
      align-items: center;
      justify-content: start;
      margin: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px;
  }
}
