<div class="dialog">
  <h2 mat-dialog-title>Регистрация</h2>
  <div mat-dialog-content class="dialog__content">
    <mat-form-field class="dialog__input" appearance="fill">
      <mat-label>Электронная почта</mat-label>
      <input type="email" matInput>
    </mat-form-field>
    <mat-form-field class="dialog__input" appearance="fill">
      <mat-label>Пароль</mat-label>
      <input type="password" matInput>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="dialog__actions">
    <button mat-icon-button mat-dialog-close class="dialog__close-btn">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
    <button mat-button mat-dialog-close class="dialog__back-btn" (click)="openDialog()">
      <mat-icon aria-hidden="true">navigate_before</mat-icon> <span>назад</span>
    </button>
    <button mat-stroked-button class="dialog__btn">Зарегистрироваться</button>
  </div>

</div>
