.card {
  position: relative;
  width: 300px;
  height: 580px;
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.05);

  &__title {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__img {
    height: 300px;
    width: 200px;
    object-fit: cover;
    margin: 0 auto 20px;
  }

  &__btn {
    margin: 10px;
  }

  &__status {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }
}
