<mat-card class="card">
  <img class="card__img" mat-card-image [src]="goodsItem.imageUrls[0]" alt="Photo">
  <mat-card-title class="card__title" routerLink="/goods/{{goodsItem.id}}">{{goodsItem.name}}</mat-card-title>
  <mat-card-content>
    <p>{{goodsItem.price | currency:'BYN':'р.':'3.2-2'}}</p>
    <p>Рейтинг: {{goodsItem.rating}}</p>
    <div class="card__status">
    </div>
  </mat-card-content>
  <mat-card-actions>
    <app-cart-actions [goodsId]="goodsItem.id"></app-cart-actions>
    <app-favorites-actions [goodsId]="goodsItem.id"></app-favorites-actions>
  </mat-card-actions>
</mat-card>
