<div class="contacts">
  <div class="contacts__item">
    <img src="" alt="">
    <p>contact</p>
  </div>
  <div class="contacts__item">
    <img src="" alt="">
    <p>contact</p>
  </div>
  <div class="contacts__item">
    <img src="" alt="">
    <p>contact</p>
  </div>
  <div class="contacts__item">
    <img src="" alt="">
    <p>contact</p>
  </div>
  <div class="contacts__item">
    <img src="" alt="">
    <p>contact</p>
  </div>
  <div class="contacts__item">
    <img src="" alt="">
    <p>contact</p>
  </div>
  <div class="contacts__item">
    <img src="" alt="">
    <p>contact</p>
  </div>
</div>
<div class="socials">
  <a href="" class="socials__link">
    <img src="" alt="">
    link
  </a>
  <a href="" class="socials__link">
    <img src="" alt="">
    link
  </a>
  <a href="" class="socials__link">
    <img src="" alt="">
    link
  </a>
  <a href="" class="socials__link">
    <img src="" alt="">
    link
  </a>
  <a href="" class="socials__link">
    <img src="" alt="">
    link
  </a>
</div>
