<input type="text" class="input-field-text" [formControl]="searchInput" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isMenuOpen">
  <div class="examples-list">
    <div class="example-list" *ngFor="let item of categories">
      <p routerLink="/category/{{item.id}}">{{item.name}}</p>
    </div>
    <div class="example-list" *ngFor="let item of subCategories">
      <p routerLink="/category/{{item.mainCategoryId}}/{{item.id}}">{{item.name}}</p>
    </div>
    <div class="example-list" *ngFor="let item of goods">
      <p routerLink="/goods/{{item}}">{{item.name}}</p>
    </div>
  </div>
</ng-template>
