.example-list {
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.example-list > p {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.example-list > P:last-child {
  border-bottom: none;
}
