<mat-form-field appearance="outline" floatLabel="never">
  <mat-icon matPrefix>search</mat-icon>
  <input type="text" matInput class="input-field-text" [formControl]="searchInput" cdkOverlayOrigin
    #trigger="cdkOverlayOrigin" placeholder="search">
  <button *ngIf="isEmpty" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isMenuOpen">
  <div (click)="clear()" class="results-list">
    <div class="results-item" *ngFor="let item of categories" routerLink="/category/{{item.id}}">
      <p>{{item.name}}</p>
    </div>
    <div class="results-item" *ngFor="let item of subCategories"
      routerLink="/category/{{item.mainCategoryId}}/{{item.id}}">
      <p>{{item.name}}</p>
    </div>
    <div class="results-item goods" *ngFor="let item of goods" routerLink="/goods/{{item.id}}">
      <img class="goods__img" src={{item.imageUrls[0]}} alt="">
      <div class="goods__info">
        <p>{{item.name}}</p>
        <p class="goods__price">{{item.price | currency:'BYN':'р.':'3.2-2'}}</p>
      </div>
    </div>
  </div>
</ng-template>
