.results-list {
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: start;
  padding: 10px;
  margin: 0;

  & > .results-item {
    cursor: pointer;
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 10px;

    &:hover {
      background-color: #ccc;
    }
  }

  & > .results-item:last-child {
    border-bottom: none;
  }
}

.goods {
  display: flex;

  &__img {
    height: 50px;
    width: 32px;
    object-fit: cover;
    margin-right: 15px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__price {
    margin-top: 15px;
  }
}

.mat-form-field {
  width: 450px;
  border-radius: 50%;
  padding: 0;
  margin: 0 10px;
  height: 25px;
}
