<div class="navigation-row">
  <div class="logo">
    <p>LOGO</p>
  </div>
  <div class="catalog">
    <button mat-raised-button class="btn">
      <img src="" alt="">
      <p>Каталог товаров</p>
    </button>
  </div>
  <app-search-field></app-search-field>
  <div class="login">
    <button mat-raised-button class="btn">
      <img src="../../../assets/icons/enter.svg" alt="">
      <p>Аккаунт</p>
      <img src="" alt="">
    </button>
  </div>
  <div class="cart">
    <button mat-raised-button class="btn">
      <img src="../../../assets/icons/cart.svg" alt="">
      <p>Корзина</p>
    </button>
  </div>
</div>
<nav class="categories-navigation" *ngFor="let item of categories">
  <a href="">{{item.name}}</a>
</nav>
