:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigation-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;

  & > div {
    margin: 10px;
  }
}

.categories-navigation {
  display: flex;

  & > p {
    margin: 0 10px;
  }
}

@media screen and (max-width: 1275px) {
  .navigation-row {
    width: 500px;
  }
}
