:host {
  display: flex;
  flex-direction: column;
}

.category-page__title {
  padding-left: 10%;
  margin: 15px 5px 10px;
}

.cards-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.more-btn {
  margin: 0 auto;
}
