<div class="logo">
  <p>LOGO</p>
</div>
<div class="catalog">
  <button>
    <img src="" alt="">
    <p>Каталог товаров</p>
  </button>
</div>
<div class="search">
  <label for="">
    <input type="text">
  </label>
</div>
<div class="login">
  <button>
    <img src="../../../assets/icons/enter.svg" alt="">
    <p>Аккаунт</p>
    <img src="" alt="">
  </button>
</div>
<div class="cart">
  <button>
    <img src="../../../assets/icons/cart.svg" alt="">
    <p>Корзина</p>
  </button>
</div>
<nav class="categories-navigation">
  <p>Категория</p>
  <p>Категория</p>
  <p>Категория</p>
  <p>Категория</p>
  <p>Категория</p>
</nav>
