:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
