/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  text-decoration: none;
  list-style: none;
}

.btn,
.mat-button-wrapper {
  display: flex;
  align-items: center;
  & > img {
    margin: 0 5px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  margin: 3px;
}
